@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-right: 0;
}

.container {
    background-color: white
}

.result-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

}

body {
    padding: 20px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    font-family: "Times New Roman", serif;
    text-align: center;
    justify-content: center;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    background-color: #3B3B98;
}

.btn-large {
    display: block;
    width: 100%;
}

#generate {
    margin-right: 100px;
    font-size: large;
    background-color: red;
    color: white;
    text-align: center;
    height: 35px;
    border-radius: 50px;
    width: fit-content;
    display: inline-block;
    justify-content: center;
    flex-direction: row;
}

#clipboard {
    margin-left: 100px;
    font-size: large;
    background-color: rgb(206, 186, 186);
    color: white;
    text-align: center;
    height: 35px;
    border-radius: 50px;
    width: fit-content;
    display: inline-block;
    justify-content: center;
    flex-direction: row;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 14px;
    }
}