.container {
    background-color: white;
}

#password {
    height: 200px;
    width: 700px;
}



body {
    padding: 20px;
    min-height: auto;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    font-family: "Times New Roman", serif;
    text-align: center;
    justify-content: center;
}

.buttons {
    font-size: large;
    background-color: red;
    color: white;
    text-align: center;
    height: 35px;
    border-radius: 50px;
    width: fit-content;
    display: inline-block;
    justify-content: center;
    flex-direction: row;
}